@use "../abstracts/variables" as variable;
@use "../base/fonts" as fonts;
@use "../abstracts/mixins" as mixin;


.btn{
    @include mixin.flex($justify:center, $align:center);
    flex-direction: row;
    gap: 8px;
    padding: 1rem .8rem;
    border-radius: .8rem;
    border: none;
    outline: none;
    min-width: 45%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
    background: variable.$White;
    letter-spacing: .01em;
    color: variable.$secondary;
    @include mixin.media('phone'){
        padding: 1rem .8rem;
    }
}

.primary_btn {
    background:  variable.$Lendsqr-Main;
    color:  variable.$White;
    width: 45%;
    height: auto;
    max-height: 52px;
}

.border_btn {
    border: 1px solid variable.$secondary;
    color:  variable.$secondary;
    width: 46%;
    height: auto;
    max-height: 52px;
   

    &--error{
        border: 1px solid variable.$Error-Main;
        color:  variable.$Error-Main;
    }
    &--primary{
        border: 1px solid variable.$Lendsqr-Main;
    color:  variable.$Lendsqr-Main;
    }
}

.secondary_btn {
    background:  variable.$secondary;
    color:  variable.$White;
    width: 100%;
    height: auto;
    max-height: 52px;
}

.invertDots{
    background:transparent;
}