@use  "../../../styles//abstracts/variables" as variable;
@use  "../../../styles//abstracts/mixins" as mixin;

.sidebar {

    &__navItem {
        
        padding: 1rem 2rem 1rem 4rem;
        /* background-color: rgba($color: variable.$Lendsqr-Main, $alpha: 0.06);
        border-left: 5px solid variable.$Lendsqr-Main; */
        &:not(:last-child){
            margin-bottom: 1rem;
        }
        @include mixin.media("desktop"){
            padding: 1rem 2rem;
        }
    }

    &__navLink {
        @include mixin.flex($align:center);
        font-family: 'Work Sans', sans-serif;
        color: rgba($color: variable.$tertiary, $alpha: 0.6);
        font-weight: 400;
        font-size: 1.6rem;
            
        &> img{
            width: 1.6rem;
            margin-right: 1rem;
        }
        &>span{
            @include mixin.media("tab"){
                display: none
            };
        }
    }

    
}