@use "../../../styles/abstracts/mixins" as mixin;
@use "../../../styles/abstracts/variables" as variable;


.pagination {
    &__container {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.5rem;
      margin-top: 2rem;
      @include mixin.flex($align: center, $justify: space-between)
    }
  
    &__statusWrapper {
      @include mixin.flex($align: center)
    }
  
    &__statusInfo {
      font-style: normal;
      font-weight: 400;
      line-height: 1.6rem;
      color: variable.$secondary;
      margin-right: 1rem;
  
      &--right {
        margin-left: 1rem;
        font-weight: 400;
  
        line-height: 1.6rem;
        color: variable.$secondary;
      }
    }
  
  &__buttonsWrapper {
    @include mixin.flex($align: center, $justify:space-between);
    flex-basis: 10%;

    @include mixin.media("phone"){
      flex-basis: 20%;
    }
    /* @include mixin.media("sm-phone"){
      flex-basis: 15%;
    } */
    button {
      flex-basis: 10%;
      margin: 1rem;
      background-color: transparent;

      @include mixin.media("phone"){
        margin: .5rem;
      }

      &:first-child,
      &:last-child {
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        padding: .3rem .5rem;

        & svg {
          color: #213F7D;
        }
      }
        @include mixin.media("xs-phone") {
          &:not(:first-child, :last-child) {
            display: none;
          }
        }
      }
    }
  }
  