@use "../../styles/abstracts/variables" as variable;
@use "../../styles/abstracts/mixins" as mixin;

.dashboard {
    &__container {
        background-color: variable.$White-T1;
        height: 100vh;

    }

    &__header {
        max-height: 8rem;
        height: 10vh;
        padding: 2rem 10rem 2rem 4rem;

        @include mixin.flex($justify: space-between, $align: center);
        background-color: variable.$White;
        box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

        @include mixin.media("tab") {
            padding: 2rem 4rem 2rem 2rem;
        }
    }

    &__logoContainer {
        flex-basis: 25%;

        @include mixin.media("phone") {
            padding-top: .5rem;
        }
    }

    &__logo {
        width: 13rem;
        height: 2.5rem;

        @include mixin.media("phone") {
            width: 10rem;
            height: 2rem;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__headerNavWrapper {
        @include mixin.flex($align: center, $justify: space-around);
        width: 25%;

        @include mixin.media("tab") {
            width: 40%;
        }

        @include mixin.media("phone") {
            width: 60%;
        }
    }

    &__searchContainer {
        flex-basis: 55%;

        @include mixin.media("phone") {
            display: none;
        }
    }

    &__searchInput {
        background-color: variable.$White;
        opacity: 0.7;
        font-size: 1.4rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        color: variable.$secondary;
        padding: 1rem 2rem;
        border: 1px solid rgba($color: variable.$tertiary, $alpha: 0.2);
        border-top-left-radius: .8rem;
        border-bottom-left-radius: .8rem;
        width: 50%;
        height: 4rem;
    }

    &__submitSearch {
        background-color: variable.$Lendsqr-Main;
        color: variable.$White;
        padding: 1.2rem 2.2rem;
        height: 4rem;
        border-top-right-radius: .8rem;
        border-bottom-right-radius: .8rem;
    }

    &__sidebar {
        width: 20%;
        max-height: 93vh;
        height: 90vh;
        overflow: scroll;
        padding-top: 2rem;
        background-color: variable.$White;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);

        @include mixin.media("LGdesktop") {
            width: 25%;
        }

        ;

        /* @include mixin.media("desktop"){
            width: 25%;
        }; */
        @include mixin.media("tab") {
            width: 10%;
        }

        @include mixin.media("phone") {
            display: none;
        }

        &--sectionTitle {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: variable.$secondary;
            padding-left: 3.8rem;
            padding-bottom: 1rem;
            padding-top: 3.5rem;

            @include mixin.media("tab") {
                display: none;
            }
        }
    }

    &__content {
        flex-basis: 80%;
        height: 90vh;
        overflow: scroll;
        padding: 3rem 6.9rem;

        @include mixin.media("desktop") {
            padding: 3rem 3rem;
        }

        @include mixin.media("tab") {
            flex-basis: 90%;
        }

        @include mixin.media("phone") {
            padding: 2rem;
            flex-basis: 100%;
        }
    }

    &__navlink {
        &--doc {
            font-family: 'Roboto', sans-serif;
            color: variable.$tertiary;
            text-decoration: underline;
            font-weight: 400;
        }
    }

}

.userProfile {
    &__container {
        @include mixin.flex($align: center, $justify: space-between)
    }

    &__picture {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        background-image: url('../../assets/images/profilePixs.png');

        @include mixin.media("tab") {
            width: 3rem;
            height: 3rem;
            background-position: center;
            background-size: contain;
        }
    }

    &__userName {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: variable.$tertiary;
        margin: auto 1rem;
    }

    &__icon {
        background-color: transparent;

    }

    &__bellIcon {
        background-color: transparent;
        color: variable.$tertiary !important;
        font-weight: bold !important;
        font-size: 2rem !important;
    }
}