@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/avenir-next/AvenirNextLTPro-Regular.otf") 
  format("opentype");
  font-weight: regular;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/avenir-next/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: italic;
}