@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as variable;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //This defines what 1rem is
  font-size: 62.5%;

  @include mixin.media("XLdesktop") {
    font-size: 75%; //12px
  }

  @include mixin.media("desktop") {
    font-size: 59.375%; //9.5px;
  }

  @include mixin.media("tab") {
    font-size: 56.25%; //9px;
  }

  @include mixin.media("phone") {
    font-size: 50%; //8px;
  }
}

/* font-family: 'Roboto', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

#file-upload-button {
  display: none;
}

img {
  width: 100%;
  max-width: 100%;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
  max-height: 5px;
  @include mixin.media("phone"){
    width: 2px;
    max-height: 2px;
  }
  @media (max-height:"600px") {
    width: 3.5px;
    max-height: 2px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: variable.$Lendsqr-Main;
  border-radius: 10px;
  margin-right: 5px;
  
}

//prevent select
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper{
  @include mixin.media("XLdesktop"){
    max-width: 70%;
    margin: 0 auto;
  }
}

